* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  background-color: #fef9d9;
}

header {
  position: sticky;
  top: 0;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  display: flex;
  width: 100%;
  background-color: #dee5d4;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee5d4;
}
.myntra_home {
  height: 45px;
}
.logo_container {
  margin-left: 4%;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  background-color: #dee5d4;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  background-color: #dee5d4;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid #dee5d4;
}
.nav_bar a:hover {
  border-bottom: 4px solid #000000;
}

.nav_bar a sup {
  color: #000000;
  font-size: 10px;
  background-color: #dee5d4;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
  background-color: #dee5d4;
}

.search_input {
  color: #000000;
  background-color: #dee5d4;
  flex-grow: 1;
  height: 40px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}

.search_input:hover {
  border: 4px solid #3b3939;
}

.action_bar {
  display: flex;
  background-color: #dee5d4;
  min-width: 200px;
  justify-content: space-evenly;
  padding-top: 1rem;
}
.action_name {
  background-color: #dee5d4;
}
.action_container {
  background-color: #dee5d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

/* Main section */
.banner_container {
  margin: 40px 0;
}
.banner_image {
  width: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-items,
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sale_item {
  width: 250px;
}

.footer_container {
  padding: 30px 0px 40px 0px;
  background: #dee5d4;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
  background-color: #dee5d4;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
  background-color: #dee5d4;
}

.footer_column a {
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  background-color: #dee5d4;
}

.copyright {
  color: #000000;
  text-align: end;
  padding: 15px;
}

.items-container {
  margin: 40px 5%;
}

.item-container {
  width: 260px;
  margin: 10px;
  padding: 1rem;
}
.item-image {
  width: 100%;
  cursor: pointer;
}

.item-image:hover + .btn-add-bag {
  position: relative;
  bottom: 2.3rem;

  color: #000000;
  font-size: 18px;
  width: 100%;
  background-color: #fef9d9;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  opacity: 1;
  border: 1px solid black;
  border-radius: 0%;
}

.rating {
  font-size: 12px;
  font-weight: 700;
}
.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount {
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.btn-add-bag {
  position: relative;
  bottom: 2.3rem;
  opacity: 0;
  color: #000000;
  font-size: 18px;
  width: 100%;
  background-color: #fef9d9;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0%;
}
.btn-add-bag:hover {
  opacity: 1;
}

.bag-item-count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}
.action_container {
  text-decoration: none;
}
a.action_container:link {
  color: black;
}
.bag-items-container {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 0.5px solid #000000;
  padding-top: 32px;
  color: #000000;
  font-size: 13px;
  line-height: 1.42857143;
  background-color: #fef9d9;
}

.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: #c9dabf;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn-place-order:hover {
  background-color: #dee5d4;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  height: 8rem;
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.spinner {
  margin: 70px 0;
}

.wishIcon {
  font-size: 1.7rem;
  cursor: pointer;
  margin-left: 7rem;
  margin-top: 0.7rem;
  background-color: #fef9d9;
}

.wishlist-page {
  padding: 1rem;
}
.wishlist-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wishlist-del {
  font-size: 1.5rem;
}
.wishIcon-del {
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 7.2rem;
  margin-top: 1.1rem;
}

.wishlist-item-count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}
.profile {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.bs-btn-bg {
  background-color: #519088;
  border-radius: 0.3rem;
  font-size: 1rem;
  width: 100%;
  padding: 0.3rem;
  font-weight: 500;
  margin-top: 1rem;
}
.mobile-input {
  margin-top: 2rem;
}
.para-terms {
  margin-top: 2rem;
  text-align: left;
}
.para-help {
  margin-top: 1rem;
  text-align: left;
}

.head-login {
  text-align: left;
}
.bannerContainer {
  display: flex;
}

.localBanner {
  margin: 2rem;
}

.localContainer {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
